@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


h2,h3,h4,p {
    @apply font-sans tracking-wider;
}

h1 {
    @apply font-spartan font-bold;
}

.bg-foto {
    background-image: url('/img/home2.png');
    background-size: cover;
    background-position: center;
}
